.cityButton {
    display: inline-block;
    justify-content: space-around;
    margin: 16px;
    padding: 10px;
    background: linear-gradient(to right, #3A7CA5, #375781);
    border-radius: 15px;
    font-size: 24px;
    width: 300px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    border: 1px solid white;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn .city {
    padding: 10px;
    margin: 5px 10px;
    width: 140px;
    border: 1px solid rgb(255, 255, 255);
    background: linear-gradient(to right, #3A7CA5, #375781);
    color: white;
    border-radius: 15px;
    font-size: large;
    font-family: "Noto Sans", sans-serif;
}

.btn .map {
    color: white;
    background: linear-gradient(to right, #3A7CA5, #375781);
    padding: 10px;
    margin: 5px 10px;
    width: 140px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-size: large;
    font-family: "Noto Sans", sans-serif;
}